body    {
  background-color: #87BBE3;
}
#header{
  background-color: #71bbe3;
}
.title{
  color: #555555;
  font-family: Optima;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
  font-weight: 500;
	line-height: 100px;
}
.p{
  font-family: Optima
}
.uk-button-primary{
  background-color: #007CE3;
  border-radius: 7px;
  -webkit-transition: none;
	transition: none;
	box-shadow: 0 4px 0 #0064F1;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.uk-button-primary:hover{
  background-color: #0090E3;
	box-shadow: 0 3px 0 #0064F1;
}
