@(title: String, pwdform: Form[Application.SampleForm], id:Long)
@import helper._

@main("パスワード変"){
  <header id="header">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editpwd.css")">
    <h1 class ="title">CHANGE PASSWORD</h1>
  </header>
    @helper.form(action = CSRF(routes.Application.changePwd(id))){
      @(helper.inputPassword(
        pwdform("oldpwd"),
        '_label -> "OLD PASSWORD"
      ))
      @(helper.inputPassword(
        pwdform("newpwd"),
        '_label -> "NEW PASSWORD"
      ))
      @(helper.inputPassword(
        pwdform("newpwd2"),
        '_label -> "CONFIRM NEW PASSWORD"
      ))
      <input type="submit" class="uk-button uk-button-primary uk-margin-small-left uk-margin-top" value="CHANGE" >
    }
    <input type="button" value="BACK" class="uk-button uk-button-primary uk-margin-small-left uk-margin-top" onClick="location.href='@routes.Application.goUsers(id)'">
<footer><br></footer>

}
