@(title: String, sform: Form[models.User])
@main("top"){
  <header id="header">
    <h1 class ="uk-heading-primary uk-text-muted">@title</h1>
  </header>
  <body>
    <p>USER ID・USER NAME・PASSWORDを設定してください</p>
    @helper.form(action = routes.Application.doSignup){
      @(helper.inputText(
        field = sform("userid"),
        '_label -> "USER ID"
      ))
      @(helper.inputText(
        field = sform("username"),
        '_label -> "USER NAME"
        ))
      @(helper.inputPassword(
        field = sform("password"),
        '_label -> "PASSWORD"
        ))
      @(helper.inputRadioGroup(
        field = sform("admin"),
        options = Seq("true" -> "administrator", "false" -> "general")
      ))
      <input type="submit" value="新規作成" onClick="location.href='@routes.Application.doSignup'">
    }

  </body>
}
