@(title: String, users: List[models.User], id:Long)
@import helper._

@main("User List"){
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/userlist.css")">
  <head>
  <header id="header">
    <h1 class ="uk-heading-primary uk-text-muted">USER LIST</h1>
  </header>
</head>
<body>
  <div id="contents">
    <table class="uk-table uk-table-hover">
        <thead>
            <th>USER ID</th>
            <th>USER NAME</th>
            <th></th>
        </thead>
        <tbody>
             @for(user <- users){
                <tr>
                    <td>@user.userid</td>
                    <td>@user.username</td>
                    <td>
                        <button class="uk-button uk-button-default uk-button-small" onclick="location.href='@routes.Application.delete(user.id)'">DELETE</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
  <input type="button" value="BACK" class="uk-button uk-button-primary uk-margin-small-left uk-margin-top" onClick="location.href='@routes.Application.goUsers(id)'">
  <br>
</body>
}
